.background {
  width: 100%;
  height: fit-content;
  background-color: #323236;
  padding: 0 0 50px 0;
}

.container {
  margin: 0 auto 0;
  padding: 96px 22px 0;
  width: 1276px;
  height: fit-content;
}

.flex {
  display: flex;
}

.infoContainer {
  width: 100%;
  height: fit-content;
}

.textColumn {
  width: 33%;
}

.textColumn h1 {
  color: white;
  font-family: 'Geologica', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.textColumn p {
  color: rgb(212, 212, 212);
  font-family: 'Geologica', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0 0 60px 0;

}

.imageContainer {
  margin: 25px 30px;
  display: flex;
  place-items: center;
  margin: 20px 150px;
}

.image {
  width: 400px;
  width: 600px;
  /* margin: 20px auto; */
}

.grid {
  display: grid;
  justify-content: center;
}

.smallImage {
  height: 200px;
  width: auto;
}

.marginBottom {
  margin-bottom: 60px;
}
